<div class="nyqDivRounded10px nyqDivPadded10px"{{#if hideMe}} data-hide='true'{{/if}}>
    <div class="trackerAdd">
        <button type="button" class="nyqButton" data-action="myAction" id="btnTrackerAdd" ><i class="fa-solid fa-wand-sparkles">Add Tracker</i></button>
        <input type="text" id="txtTrackerAdd" name="txtTrackerAdd" class="txtTrackerAdd" value="Name of the Tracker">
    </div>
    <div class="trackerList">
        {{#each trackerList}}
        <div class="singleTracker" data-selected={{this.checked}}>
            <label>
                {{this.name}}
                <input type="checkbox" class="itemTrackerCheck" data-action="myAction" id={{this.id}} name="{{this.name}}" value="{{this.id}}" {{#if this.checked}}checked{{/if}}>
            </label>
        </div>
        {{/each}}
    </div>
</div>