  <p>
    Qui trovi un riepilogo rapido delle scelte fatte.
  </p>
    <p>Class: {{chosenClass}}, Background: {{chosenBG}}, Specie: {{chosenSpecie}}</p>
    <p>Name: {{actorName}}</p></div>
    <table>
      <tr>
        <th></th>
        {{#each statList}}
        <th>{{this.short}}</th>
        {{/each}}
      </tr>
      <tr>
        <td></td>
        {{#each statsRecommended}}
        <td>{{this}}</td>
        {{/each}}
      </tr>
      <tr>
        <td>punti stats</td>
        {{#each statsPoints}}
        <td>{{this}}</td>
        {{/each}}
      </tr>
    </table>

    <table>
      <tr>
        <th>Skills</th>
        {{#each skillList}}
        <th style="writing-mode: vertical-rl;vertical-align: middle;text-align: right;padding: 0;">{{this.name}}</th>
        {{/each}}
      </tr>
    <tr>
      <td>class({{classChoices}}):</td>
      {{#each classesSkillSelectable}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    <tr>
      <td>background:</td>
      {{#each BGskills}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    </table>

    <table>
      <tr>
        <th>Proficiencies:</th>
        {{#each armorsWeaponsProfs}}
        <th>{{this.name}}</th>
        {{/each}}
      </tr>
    <tr>
      <th></th>
      {{#each armorsWeaponsProfsClass}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    </table>
