<div class="classDivExt">
<div class="classDiv" {{#if hideMe}}data-hide='true'{{/if}}>
  <p>
    La classe determina la tua abilita' primaria. Inoltre da diritto a proficienze con un numero di skill che varia tra 2 e 4.
    Il manuale del giocatore fornisce anche i valori di  statistica consigliati.
    Inoltre la classe puo' fornire un numero di 'punti' mastery. Ogni punto puo' essere speso su un'arma. Utilizzare l'arma con la mastery permette di utilizzare attacchi speciali.
  </p>
  <div class="singleClassHeader">
        <div>Class Name</div> 
        <div>Main Stat</div>
        <div># of skill choices</div>
        <div>Motto</div>
  </div>
  {{#each classes}}
    <div class="singleClass">
        <div class="singleClassName" data-action="myAction" data-classID="{{this.classID}}" data-selected={{this.selected}}>{{this.name}}</div> 
        <div class="singleClassStat">{{this.statPrincipale}}</div>
        <div class="singleClassNchoices">{{this.nSkillChoices}}</div>
        <div class="singleClassMotto">{{this.motto}}</div>
    </div>
  {{/each}}
</div>
</div>