<table>
    <thead>
        <tr>
            <th>Level</th>
            <th>fights at low difficulty</th>
            <th>fights at moderate difficulty</th>
            <th>fights at high difficulty</th>
        </tr>
    </thead>
    <tbody>
        {{#each tableAdvancement}}
        <tr>
            <td>{{this.lvl}} ({{this.deltaXP}}XP)</td>
            <td>{{this.low}}</td>
            <td>{{this.moderate}}</td>
            <td>{{this.high}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>