<div class="SpeciesDivExt">
<div class="SpeciesDiv" {{#if hideMe}}data-hide='true'{{/if}}>
<p>
    La specie definisce dimensioni e velocita' del personaggio.
    Inoltre fornisce i 'Tratti Speciali', ovvero particolari abilita' derivanti
    dalla fisiologia o dalla natura magica della specie.
</p>
  <div class="singleSpecieHeader">
        <div>Specie</div> 
        <div>Size</div>
        <div>Speed</div>
        <div>Traits</div>
  </div>
  {{#each species}}
    <div class="singleSpecie">
        <div class="singleSpecieName" data-action="myAction" data-ID="{{this.ID}}" data-selected="{{#if this.selected}}true{{else}}false{{/if}}">{{this.name}}</div> 
        <div class="singleSpecieSize">{{this.size}}</div>
        <div class="singleSpecieSpeed">{{this.speed}}</div>
        <div class="singleSpecieTraits">{{this.traits}}</div>
    </div>
  {{/each}}
</div>
</div>